{
  "branches": [
    "semantic-release"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator"
  ],
  "prepareRelease": "@semantic-release/npm"
}