{
  "branches": [
    "semantic-release"
  ],
  "release": {
    "githubToken": ""
  },
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/git",
      {
        "assets": [
          "CHANGELOG.md",
          "package.json"
        ]
      }
    ]
  ]
}