@import '@unocss-applet/reset/uni-app/tailwind-compat.css';
@import '@unocss-applet/reset/uni-app/button-after.css';

page {
  height: 100%;
}

navigator {
  display: inline-block;
}

button {
  background-color: transparent;
}

.pt-topbar {
  padding-top: var(--status-bar-height);
}

.mt-topbar {
  margin-top: var(--status-bar-height);
}